Replace

In [40]:
import pandas as pd

var= pd.read_csv("FigureS4data.csv")
var

,A,B,C,D,E,F,G,H,I,J,K
0,hlo,0.309325,0.330028,0.431495544,0.440908,0.548762,0.561019022,0.641641,0.615079,0.622527,0.729589
1,0.174284967,0.387688,0.540992,0.623480271,0.684588,NaN,0.824368936,NaN,0.825998,0.756203,0.886218
2,NaN,0.462566,0.591705,hlo,0.791687,NaN,0.842685112,1.000000,0.907082,NaN,0.960260
3,0.167086823,0.474086,NaN,0.667548581,1.000000,NaN,0.914944508,1.000000,NaN,0.951749,0.955824
4,0.012048574,0.026199,0.025683,Hlo,0.035991,NaN,0.047699205,NaN,0.069558,0.070859,NaN
5,0.008822338,0.026734,0.037517,0.040050509,NaN,0.038474,Hlo,1.000000,0.098950,0.081911,0.072815
6,0.001885952,NaN,0.027193,0.025489984,0.047170,NaN,0.031850605,0.049531,0.064666,1.000000,0.035113
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,0.007198414,0.044764,0.031938,0.023483649,0.047213,0.028251,0.020485426,0.013024,0.004736,NaN,0.014040

In [41]:
var.replace(to_replace=1,value=2.2222222)

,A,B,C,D,E,F,G,H,I,J,K
0,hlo,0.309325,0.330028,0.431495544,0.440908,0.548762,0.561019022,0.641641,0.615079,0.622527,0.729589
1,0.174284967,0.387688,0.540992,0.623480271,0.684588,NaN,0.824368936,NaN,0.825998,0.756203,0.886218
2,NaN,0.462566,0.591705,hlo,0.791687,NaN,0.842685112,2.222222,0.907082,NaN,0.960260
3,0.167086823,0.474086,NaN,0.667548581,2.222222,NaN,0.914944508,2.222222,NaN,0.951749,0.955824
4,0.012048574,0.026199,0.025683,Hlo,0.035991,NaN,0.047699205,NaN,0.069558,0.070859,NaN
5,0.008822338,0.026734,0.037517,0.040050509,NaN,0.038474,Hlo,2.222222,0.098950,0.081911,0.072815
6,0.001885952,NaN,0.027193,0.025489984,0.047170,NaN,0.031850605,0.049531,0.064666,2.222222,0.035113
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,0.007198414,0.044764,0.031938,0.023483649,0.047213,0.028251,0.020485426,0.013024,0.004736,NaN,0.014040

In [42]:
var.replace([0.149388,2,3,4,5,6,7,8],"++")
var

,A,B,C,D,E,F,G,H,I,J,K
0,hlo,0.309325,0.330028,0.431495544,0.440908,0.548762,0.561019022,0.641641,0.615079,0.622527,0.729589
1,0.174284967,0.387688,0.540992,0.623480271,0.684588,NaN,0.824368936,NaN,0.825998,0.756203,0.886218
2,NaN,0.462566,0.591705,hlo,0.791687,NaN,0.842685112,1.000000,0.907082,NaN,0.960260
3,0.167086823,0.474086,NaN,0.667548581,1.000000,NaN,0.914944508,1.000000,NaN,0.951749,0.955824
4,0.012048574,0.026199,0.025683,Hlo,0.035991,NaN,0.047699205,NaN,0.069558,0.070859,NaN
5,0.008822338,0.026734,0.037517,0.040050509,NaN,0.038474,Hlo,1.000000,0.098950,0.081911,0.072815
6,0.001885952,NaN,0.027193,0.025489984,0.047170,NaN,0.031850605,0.049531,0.064666,1.000000,0.035113
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,0.007198414,0.044764,0.031938,0.023483649,0.047213,0.028251,0.020485426,0.013024,0.004736,NaN,0.014040

In [43]:
var.replace("[a-zA-z]","Happy",regex=True)

,A,B,C,D,E,F,G,H,I,J,K
0,HappyHappyHappy,0.309325,0.330028,0.431495544,0.440908,0.548762,0.561019022,0.641641,0.615079,0.622527,0.729589
1,0.174284967,0.387688,0.540992,0.623480271,0.684588,NaN,0.824368936,NaN,0.825998,0.756203,0.886218
2,NaN,0.462566,0.591705,HappyHappyHappy,0.791687,NaN,0.842685112,1.000000,0.907082,NaN,0.960260
3,0.167086823,0.474086,NaN,0.667548581,1.000000,NaN,0.914944508,1.000000,NaN,0.951749,0.955824
4,0.012048574,0.026199,0.025683,HappyHappyHappy,0.035991,NaN,0.047699205,NaN,0.069558,0.070859,NaN
5,0.008822338,0.026734,0.037517,0.040050509,NaN,0.038474,HappyHappyHappy,1.000000,0.098950,0.081911,0.072815
6,0.001885952,NaN,0.027193,0.025489984,0.047170,NaN,0.031850605,0.049531,0.064666,1.000000,0.035113
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,0.007198414,0.044764,0.031938,0.023483649,0.047213,0.028251,0.020485426,0.013024,0.004736,NaN,0.014040

In [44]:
var.replace({"D":"[A-Z]"},23232.3232,regex=True)

,A,B,C,D,E,F,G,H,I,J,K
0,hlo,0.309325,0.330028,0.431495544,0.440908,0.548762,0.561019022,0.641641,0.615079,0.622527,0.729589
1,0.174284967,0.387688,0.540992,0.623480271,0.684588,NaN,0.824368936,NaN,0.825998,0.756203,0.886218
2,NaN,0.462566,0.591705,hlo,0.791687,NaN,0.842685112,1.000000,0.907082,NaN,0.960260
3,0.167086823,0.474086,NaN,0.667548581,1.000000,NaN,0.914944508,1.000000,NaN,0.951749,0.955824
4,0.012048574,0.026199,0.025683,23232.3232,0.035991,NaN,0.047699205,NaN,0.069558,0.070859,NaN
5,0.008822338,0.026734,0.037517,0.040050509,NaN,0.038474,Hlo,1.000000,0.098950,0.081911,0.072815
6,0.001885952,NaN,0.027193,0.025489984,0.047170,NaN,0.031850605,0.049531,0.064666,1.000000,0.035113
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,0.007198414,0.044764,0.031938,0.023483649,0.047213,0.028251,0.020485426,0.013024,0.004736,NaN,0.014040

In [45]:
var.replace(11,method="bfill")

,A,B,C,D,E,F,G,H,I,J,K
0,hlo,0.309325,0.330028,0.431495544,0.440908,0.548762,0.561019022,0.641641,0.615079,0.622527,0.729589
1,0.174284967,0.387688,0.540992,0.623480271,0.684588,NaN,0.824368936,NaN,0.825998,0.756203,0.886218
2,NaN,0.462566,0.591705,hlo,0.791687,NaN,0.842685112,1.000000,0.907082,NaN,0.960260
3,0.167086823,0.474086,NaN,0.667548581,1.000000,NaN,0.914944508,1.000000,NaN,0.951749,0.955824
4,0.012048574,0.026199,0.025683,Hlo,0.035991,NaN,0.047699205,NaN,0.069558,0.070859,NaN
5,0.008822338,0.026734,0.037517,0.040050509,NaN,0.038474,Hlo,1.000000,0.098950,0.081911,0.072815
6,0.001885952,NaN,0.027193,0.025489984,0.047170,NaN,0.031850605,0.049531,0.064666,1.000000,0.035113
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,0.007198414,0.044764,0.031938,0.023483649,0.047213,0.028251,0.020485426,0.013024,0.004736,NaN,0.014040

In [46]:
var.replace(1.000000,method="ffill",limit=3)

,A,B,C,D,E,F,G,H,I,J,K
0,hlo,0.309325,0.330028,0.431495544,0.440908,0.548762,0.561019022,0.641641,0.615079,0.622527,0.729589
1,0.174284967,0.387688,0.540992,0.623480271,0.684588,NaN,0.824368936,NaN,0.825998,0.756203,0.886218
2,NaN,0.462566,0.591705,hlo,0.791687,NaN,0.842685112,NaN,0.907082,NaN,0.960260
3,0.167086823,0.474086,NaN,0.667548581,0.791687,NaN,0.914944508,NaN,NaN,0.951749,0.955824
4,0.012048574,0.026199,0.025683,Hlo,0.035991,NaN,0.047699205,NaN,0.069558,0.070859,NaN
5,0.008822338,0.026734,0.037517,0.040050509,NaN,0.038474,Hlo,NaN,0.098950,0.081911,0.072815
6,0.001885952,NaN,0.027193,0.025489984,0.047170,NaN,0.031850605,0.049531,0.064666,0.081911,0.035113
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,0.007198414,0.044764,0.031938,0.023483649,0.047213,0.028251,0.020485426,0.013024,0.004736,NaN,0.014040

In [47]:
# With the use of implace we can modify the original data and copy will not be made

InterPolate

In [48]:
import pandas as pd

In [49]:
var3 =pd.read_csv("FigureS4data.csv")

var3

,A,B,C,D,E,F,G,H,I,J,K
0,hlo,0.309325,0.330028,0.431495544,0.440908,0.548762,0.561019022,0.641641,0.615079,0.622527,0.729589
1,0.174284967,0.387688,0.540992,0.623480271,0.684588,NaN,0.824368936,NaN,0.825998,0.756203,0.886218
2,NaN,0.462566,0.591705,hlo,0.791687,NaN,0.842685112,1.000000,0.907082,NaN,0.960260
3,0.167086823,0.474086,NaN,0.667548581,1.000000,NaN,0.914944508,1.000000,NaN,0.951749,0.955824
4,0.012048574,0.026199,0.025683,Hlo,0.035991,NaN,0.047699205,NaN,0.069558,0.070859,NaN
5,0.008822338,0.026734,0.037517,0.040050509,NaN,0.038474,Hlo,1.000000,0.098950,0.081911,0.072815
6,0.001885952,NaN,0.027193,0.025489984,0.047170,NaN,0.031850605,0.049531,0.064666,1.000000,0.035113
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,0.007198414,0.044764,0.031938,0.023483649,0.047213,0.028251,0.020485426,0.013024,0.004736,NaN,0.014040

In [50]:
var3.interpolate()
# Works on only number wala data and not on string wala data

,A,B,C,D,E,F,G,H,I,J,K
0,hlo,0.309325,0.330028,0.431495544,0.440908,0.548762,0.561019022,0.641641,0.615079,0.622527,0.729589
1,0.174284967,0.387688,0.540992,0.623480271,0.684588,0.446704,0.824368936,0.820821,0.825998,0.756203,0.886218
2,NaN,0.462566,0.591705,hlo,0.791687,0.344647,0.842685112,1.000000,0.907082,0.853976,0.960260
3,0.167086823,0.474086,0.308694,0.667548581,1.000000,0.242589,0.914944508,1.000000,0.488320,0.951749,0.955824
4,0.012048574,0.026199,0.025683,Hlo,0.035991,0.140532,0.047699205,1.000000,0.069558,0.070859,0.514320
5,0.008822338,0.026734,0.037517,0.040050509,0.041581,0.038474,Hlo,1.000000,0.098950,0.081911,0.072815
6,0.001885952,0.032744,0.027193,0.025489984,0.047170,0.035066,0.031850605,0.049531,0.064666,1.000000,0.035113
7,NaN,0.038754,0.029566,NaN,0.047192,0.031659,NaN,0.031277,0.034701,1.000000,0.024577
8,0.007198414,0.044764,0.031938,0.023483649,0.047213,0.028251,0.020485426,0.013024,0.004736,1.000000,0.014040

In [52]:
var3.interpolate(method="linear")

,A,B,C,D,E,F,G,H,I,J,K
0,hlo,0.309325,0.330028,0.431495544,0.440908,0.548762,0.561019022,0.641641,0.615079,0.622527,0.729589
1,0.174284967,0.387688,0.540992,0.623480271,0.684588,0.446704,0.824368936,0.820821,0.825998,0.756203,0.886218
2,NaN,0.462566,0.591705,hlo,0.791687,0.344647,0.842685112,1.000000,0.907082,0.853976,0.960260
3,0.167086823,0.474086,0.308694,0.667548581,1.000000,0.242589,0.914944508,1.000000,0.488320,0.951749,0.955824
4,0.012048574,0.026199,0.025683,Hlo,0.035991,0.140532,0.047699205,1.000000,0.069558,0.070859,0.514320
5,0.008822338,0.026734,0.037517,0.040050509,0.041581,0.038474,Hlo,1.000000,0.098950,0.081911,0.072815
6,0.001885952,0.032744,0.027193,0.025489984,0.047170,0.035066,0.031850605,0.049531,0.064666,1.000000,0.035113
7,NaN,0.038754,0.029566,NaN,0.047192,0.031659,NaN,0.031277,0.034701,1.000000,0.024577
8,0.007198414,0.044764,0.031938,0.023483649,0.047213,0.028251,0.020485426,0.013024,0.004736,1.000000,0.014040

In [54]:
var3.interpolate(method="linear",axis=0)

,A,B,C,D,E,F,G,H,I,J,K
0,hlo,0.309325,0.330028,0.431495544,0.440908,0.548762,0.561019022,0.641641,0.615079,0.622527,0.729589
1,0.174284967,0.387688,0.540992,0.623480271,0.684588,0.446704,0.824368936,0.820821,0.825998,0.756203,0.886218
2,NaN,0.462566,0.591705,hlo,0.791687,0.344647,0.842685112,1.000000,0.907082,0.853976,0.960260
3,0.167086823,0.474086,0.308694,0.667548581,1.000000,0.242589,0.914944508,1.000000,0.488320,0.951749,0.955824
4,0.012048574,0.026199,0.025683,Hlo,0.035991,0.140532,0.047699205,1.000000,0.069558,0.070859,0.514320
5,0.008822338,0.026734,0.037517,0.040050509,0.041581,0.038474,Hlo,1.000000,0.098950,0.081911,0.072815
6,0.001885952,0.032744,0.027193,0.025489984,0.047170,0.035066,0.031850605,0.049531,0.064666,1.000000,0.035113
7,NaN,0.038754,0.029566,NaN,0.047192,0.031659,NaN,0.031277,0.034701,1.000000,0.024577
8,0.007198414,0.044764,0.031938,0.023483649,0.047213,0.028251,0.020485426,0.013024,0.004736,1.000000,0.014040

In [56]:
var.interpolate(limit_direction="forward",limit=2)

,A,B,C,D,E,F,G,H,I,J,K
0,hlo,0.309325,0.330028,0.431495544,0.440908,0.548762,0.561019022,0.641641,0.615079,0.622527,0.729589
1,0.174284967,0.387688,0.540992,0.623480271,0.684588,0.446704,0.824368936,0.820821,0.825998,0.756203,0.886218
2,NaN,0.462566,0.591705,hlo,0.791687,0.344647,0.842685112,1.000000,0.907082,0.853976,0.960260
3,0.167086823,0.474086,0.308694,0.667548581,1.000000,NaN,0.914944508,1.000000,0.488320,0.951749,0.955824
4,0.012048574,0.026199,0.025683,Hlo,0.035991,NaN,0.047699205,1.000000,0.069558,0.070859,0.514320
5,0.008822338,0.026734,0.037517,0.040050509,0.041581,0.038474,Hlo,1.000000,0.098950,0.081911,0.072815
6,0.001885952,0.032744,0.027193,0.025489984,0.047170,0.035066,0.031850605,0.049531,0.064666,1.000000,0.035113
7,NaN,0.038754,0.029566,NaN,0.047192,0.031659,NaN,0.031277,0.034701,1.000000,0.024577
8,0.007198414,0.044764,0.031938,0.023483649,0.047213,0.028251,0.020485426,0.013024,0.004736,1.000000,0.014040

In [ ]:
# limit area not understood